<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading user-header">
      <div class="row">
        <div class="col-md-11">
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <h3 class="username article-title"><%= link_to @article.user.username, user_path(@article.user) %></h3>
        </div>
        <% if signed_in? && current_user == @article.user %>
          <div class="col-md-1">
            <span class="dropdown">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "Edit", edit_article_path(@article)%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Delete this post?"}, class: "text-danger" %></li>
            </ul> 
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <h2 class="article-title"><%= @article.title %></h2>
      
      <p class="article-description"><%= @article.description %></p>
    </div>
    <div class="panel-footer">
      <small>Created by: <%= @article.user.username if @article.user %> | <%= time_ago_in_words (@article.created_at) %> ago </small>
    </div>
  </div>
</div>



